################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/x64/**/*
/Source/BarCodeCore/x64/**/*
/Source/.vs/**/*
/Source/BarCodeScanner/obj/**/*
/Source/BarCodeScanner/bin/**/*
/Build/**/*